  <div class="container main-content">
    <div class="main-content-container">
      <%= render 'layouts/upper_navi' %>
      <%= render 'layouts/banner' %>
      <%= render 'layouts/lower_navi' %>
      <%= render 'layouts/carousel' %>

      <div class="row"> <!-- Articles Table -->
        <%= render 'layouts/articles_list' %>
        <%= render 'layouts/side_bar' %>
      </div>
    </div>

  </div>
<script src="/assets/nakedpunch.js"></script>

<%= render 'layouts/footer' %>
